.hero.text-white( [ngClass]="{'bg-primary': this.type === 'primary'}" )
  .hero-inner
    h2( *ngIf='this.titulo != null' ) {{ this.titulo }}
    p.lead( *ngIf='this.subTitulo != null' ) {{ this.subTitulo }}
    .mt-4( *ngIf='this.link != null && this.boton != null' )
        a.btn.btn-outline-white.btn-lg.btn-icon.icon-left([href]="this.link")
            i.fas.fa-arrow-right {{ this.boton }}