<!--

form( [formGroup]="this.forma", (change)="returnData()" )
    .row
        .form-group.col-md-12.col-lg-4
          label(for="pais") País
          .selectric-wrapper.selectric-form-control.selectric-selectric.selectric-below.selectric-open
            .selectric-hide-select
              select#pais.form-control.selectric( *ngIf='this.location.paises && this.location.paises.length > 0' ,type="text",formControlName="pais" ,name="pais", tabindex="-1", (change)="this.selectPais($event.target.value)")
                option( *ngFor='let item of this.location.paises', [value]="item | json") {{ item.nativeName }}
              app-field-error( *ngIf="this._formResources.isFieldValid('pais', this.forma) && this.forma.get('pais').errors.required ", [errorMsg]="this.errorFields.pais.required" )


        .form-group.col-md-12.col-lg-4( *ngIf='this.location.estados != null' )
          label(for="estado") Estado o departamento
          .selectric-wrapper.selectric-form-control.selectric-selectric.selectric-below.selectric-open
            .selectric-hide-select
              select#estado.form-control.selectric( type="text",formControlName="estado" ,name="estado", tabindex="-1", (change)="this.selectEstado($event.target.value)")
                option( *ngFor='let item of this.location.estados | keyvalue', [value]="item | json") {{ item.value }}
              app-field-error( *ngIf="this._formResources.isFieldValid('estado', this.forma) && this.forma.get('estado').errors.required ", [errorMsg]="this.errorFields.estado.required" )


        .form-group.col-md-12.col-lg-4( *ngIf='this.location.ciudades != null' )
          label(for="ciudad") Ciudad o municipio
          .selectric-wrapper.selectric-form-control.selectric-selectric.selectric-below.selectric-open
            .selectric-hide-select
              select#ciudad.form-control.selectric( type="text",formControlName="ciudad" ,name="ciudad", tabindex="-1")
                option( *ngFor='let item of this.location.ciudades | keyvalue', [value]="item | json") {{ item.value }}
              app-field-error( *ngIf="this._formResources.isFieldValid('ciudad', this.forma) && this.forma.get('ciudad').errors.required ", [errorMsg]="this.errorFields.ciudad.required" )



                //- .form-group.col-md-12.col-lg-4
                //-   label(for="ciudad") Ciudad
                //-   input#ciudad.form-control(  type="text",formControlName="ciudad" ,name="ciudad")
                //-   app-field-error( *ngIf="this._formResources.isFieldValid('ciudad', this.forma) && this.forma.get('ciudad').errors.required ", [errorMsg]="this.errorFields.ciudad.required" ) -->


<form [formGroup]="this.forma" (change)="returnData()">
    <div class="row">
        <div class="form-group col-md-12 col-lg-4"><label for="pais">País</label>
            <div class="selectric-wrapper selectric-form-control selectric-selectric selectric-below selectric-open">
                <div class="selectric-hide-select"><select class="form-control selectric" id="pais" *ngIf="this.location.paises && this.location.paises.length > 0" type="text" formControlName="pais" name="pais" tabindex="-1" (change)="this.selectPais($event.target.value)">
                        <option *ngFor="let item of this.location.paises" [value]="item.nativeName">{{ item.nativeName }}</option>
                    </select>
                    <app-field-error *ngIf="this._formResources.isFieldValid('pais', this.forma) && this.forma.get('pais').errors.required " [errorMsg]="this.errorFields.pais.required"></app-field-error>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-lg-4" *ngIf="this.location.estados != null"><label for="estado">Estado o departamento</label>
            <div class="selectric-wrapper selectric-form-control selectric-selectric selectric-below selectric-open">
                <div class="selectric-hide-select"><select class="form-control selectric" id="estado" type="text" formControlName="estado" name="estado" tabindex="-1" (change)="this.selectEstado($event.target.value)">
                        <option *ngFor="let item of this.location.estados | keyvalue" [value]="item.value">{{ item.value }}</option>
                    </select>
                    <app-field-error *ngIf="this._formResources.isFieldValid('estado', this.forma) && this.forma.get('estado').errors.required " [errorMsg]="this.errorFields.estado.required"></app-field-error>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-lg-4" *ngIf="this.location.ciudades != null"><label for="ciudad">Ciudad o municipio</label>
            <div class="selectric-wrapper selectric-form-control selectric-selectric selectric-below selectric-open">
                <div class="selectric-hide-select"><select class="form-control selectric" id="ciudad" type="text" formControlName="ciudad" name="ciudad" tabindex="-1">
                        <option *ngFor="let item of this.location.ciudades | keyvalue" [value]="item.value">{{ item.value }}</option>
                    </select>
                    <app-field-error *ngIf="this._formResources.isFieldValid('ciudad', this.forma) && this.forma.get('ciudad').errors.required " [errorMsg]="this.errorFields.ciudad.required"></app-field-error>
                </div>
            </div>
        </div>
    </div>
</form>
