//- p-fileupload(name="demo[]", url="./upload.php", (onupload)="onUpload($event)", multiple, accept="image/*", maxfilesize="1000000")
//-   ng-template(ptemplate="content")
//-     ul(*ngif="uploadedFiles.length")
//-       li(*ngfor="let file of uploadedFiles") {{file.name}} - {{file.size}} bytes