.modal.fade#fire-modal-2(tabindex="-1", role="dialog", style="display: none;", aria-hidden="true")
  .modal-dialog.modal-md.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        h5.modal-title Modal Title
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") ×
      .modal-body Modal body text goes here.