<section class="modalOptions section">
    <div class="setOptions">
        <div class="card">
            <form class="needs-validation" #f="ngForm">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-12 col-lg-12">
                            <label for="nombre">Ingresar peticion</label>
                            <input class="form-control" id="nombre" type="text" name="Nombre" />
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="spaceButtons"><button class="btn btn-primary" type="submit"><i class="fas fa-check"></i>Aceptar</button><button class="btn btn-primary" type="button"><i class="fas fa-times"></i>Cancelar</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
