<!--
section.modalOptions.section
    .setOptions
      .card
        .card-header
            h4 Información general de cliente
        .card-body -->


        <section class="modalOptions section">
          <div class="setOptions">
              <div class="card">
                  <div class="card-header">
                      <h4>Información general de cliente</h4>
                  </div>
                  <div class="card-body"></div>
              </div>
          </div>
      </section>