
section.modalOptions.section
    .setOptions
      .card
        div.preview
            ul
                li
                    .ico
                        i.far.fa-handshake
                    .data

                    .name
                        small
                            | Clientes
        div.infoComplete