
section.modalOptions.section
  .setOptions( *ngIf='this.user != null' )
    div.row
      app-hero( [type]="'primary'", [titulo]="'Deseas eliminar la cuenta del usuario '+this.user.name+' '+this.user.last_name", [subTitulo]="'¿Estás seguro?'" )
    .row
      .spaceButtons
        button.btn.btn-danger( (click)="deleteUser()" )
          i.fas.fa-check
          | Eliminar usuario
        button.btn.btn-primary( type="button", (click)="this.closeDialog()" )
          i.fas.fa-times
          | Cerrar