<!-- section.section
  .section-header
    h1 Mis rutas asignadas

    .section-header-button
      button.btn.btn-danger(  ) Reportar incidencia

  .section-body
    h2.section-title Control de rutas
    .row.mt-4
      .col-12
        .card(*ngIf='this.misRutas.length == 0')
          .card-body
            app-hero( [type]="'primary'", [titulo]="'Sin resultados'", [subTitulo]="'No tienes rutas asignadas actualmente'" )

        .card(*ngIf='this.misRutas.length > 0')
          //- .card-header
          //-   h4
          //-   .card-header-form
          //-     form.needs-validation( #f="ngForm", (ngSubmit)="this.search( f )" )
          //-       .input-group
          //-         input.form-control( required ,ngModel ,type="text", name="arg" , placeholder="Busqueda")
          //-         .input-group-btn
          //-           button.noBorder.btn.btn-primary(type="submit", style="border-radius: 0!important")
          //-             i.fas.fa-search
          //-           button.btn.btn-primary(type="button", (click)="this.getAll(1)") Todos
          //-             //- i.fas.fa-search
          //-         .invalid-feedback
          //-           | Por favor, escribe un argumento de búsqueda
          .card-body
            .table-responsive
              table.table.table-striped
                tbody
                  tr
                    //- th Imagen
                    th Nombre de ruta
                    th País
                    th Departamento
                    th Ciudad
                    th Creado en
                    th Opciones

                  tr( *ngFor="let item of this.misRutas" )
                    //- td
                      //- .avatarUser
                        //- //- img.rounded-circle(alt="image", src="assets/img/avatar/avatar-2.png", width="35", data-toggle="tooltip" ,data-placement="right", title="", data-original-title="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.")
                        //- .role
                    td
                      p {{ item.titleRoute }}
                    td
                      p {{ item.pais }}
                    td
                      p {{ item.department }}
                    td
                      p {{ item.city }}

                    td
                      p {{ item.createdAt[1] }}
                    td
                      a.btn.btn-primary([routerLink]="['/dashboard/vendedor/rutas/', item._id ]", routerLinkActive="active") Detalles

            .float-right







//- modals
p-dialog( *ngIf="(this._sessionService.usuario.rolName  === 'ENRUTATOR_ROLE')", header="Añadir nueva ruta", [(visible)]="this.modalNewRoute", [modal]="true", [style]="{width: '75vw'}", [baseZIndex]="10000")
  app-add-ruta( *ngIf="this.modalNewRoute == true" , (success)="this.sucessNewRoute($event)" ,(close)="this.closeModal($event)" )


//- modals
p-dialog( *ngIf="(this._sessionService.usuario.rolName  === 'ENRUTATOR_ROLE')", header="Añadir nueva ruta", [(visible)]="this.modalNewRoute", [modal]="true", [style]="{width: '75vw'}", [baseZIndex]="10000")
  app-add-ruta( *ngIf="this.modalNewRoute == true" , (success)="this.sucessNewRoute($event)" ,(close)="this.closeModal($event)" ) -->


  <section class="section">
    <div class="section-header">
        <h1>Mis rutas asignadas</h1>
        <div class="section-header-button"><button class="btn btn-danger">Reportar incidencia</button></div>
    </div>
    <div class="section-body">
        <h2 class="section-title">Control de rutas</h2>
        <div class="row mt-4">
            <div class="col-12">
                <div class="card" *ngIf="this.misRutas.length == 0">
                    <div class="card-body">
                        <app-hero [type]="'primary'" [titulo]="'Sin resultados'" [subTitulo]="'No tienes rutas asignadas actualmente'"></app-hero>
                    </div>
                </div>
                <div class="card" *ngIf="this.misRutas.length &gt; 0">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>Nombre de ruta</th>
                                        <th>País</th>
                                        <th>Departamento</th>
                                        <th>Ciudad</th>
                                        <th>Creado en</th>
                                        <th>Opciones</th>
                                    </tr>
                                    <tr *ngFor="let item of this.misRutas">
                                        <td>
                                            <p>{{ item.titleRoute }}</p>
                                        </td>
                                        <td>
                                            <p>{{ item.pais }}</p>
                                        </td>
                                        <td>
                                            <p>{{ item.department }}</p>
                                        </td>
                                        <td>
                                            <p>{{ item.city }}</p>
                                        </td>
                                        <td>
                                            <p>{{ item.createdAt[1] }}</p>
                                        </td>
                                        <td><a class="btn btn-primary" [routerLink]="['/dashboard/vendedor/rutas/', item._id ]" routerLinkActive="active">Detalles</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="float-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p-dialog *ngIf="(this._sessionService.usuario.rolName  === 'ENRUTATOR_ROLE')" header="Añadir nueva ruta" [(visible)]="this.modalNewRoute" [modal]="true" [style]="{width: '75vw'}" [baseZIndex]="10000">
    <app-add-ruta *ngIf="this.modalNewRoute == true" (success)="this.sucessNewRoute($event)" (close)="this.closeModal($event)"></app-add-ruta>
</p-dialog>
<p-dialog *ngIf="(this._sessionService.usuario.rolName  === 'ENRUTATOR_ROLE')" header="Añadir nueva ruta" [(visible)]="this.modalNewRoute" [modal]="true" [style]="{width: '75vw'}" [baseZIndex]="10000">
    <app-add-ruta *ngIf="this.modalNewRoute == true" (success)="this.sucessNewRoute($event)" (close)="this.closeModal($event)"></app-add-ruta>
</p-dialog>