<!--

section.section
  .section-header
    h1 Control de mis cobradores

  .section-body
    h2.section-title Listado de cobradores referenciados a tu cuenta
      span( *ngIf='this.paginator && this.paginator.itemCount > 0' ) - {{ this.paginator.itemCount }}
    .row
      .col-12
        .card
          .card-header
            h4
            .card-header-form
              form.needs-validation( #f="ngForm", (ngSubmit)="this.searchUser( f )" )
                .input-group
                  input.form-control( required ,ngModel ,type="text", name="arg" , placeholder="Busqueda")
                  .input-group-btn
                    button.noBorder.btn.btn-primary(type="submit", style="border-radius: 0!important")
                      i.fas.fa-search
                    button.btn.btn-primary(type="button", (click)="this.getAll(1)") Todos
                      //- i.fas.fa-search
                  .invalid-feedback
                    | Por favor, escribe un argumento de búsqueda
          .card-body.p-0
            .table-responsive
              table.table.table-striped
                thead
                  tr
                    th(*ngFor="let item of this.headers") {{ item }}
                tbody
                  tr( *ngFor="let it2 of this.registros" )
                    td
                      .avatarUser
                        img.rounded-circle(alt="image", src="assets/img/avatar/avatar-2.png", width="50", data-toggle="tooltip" ,data-placement="right", title="", data-original-title="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.")
                        .role

                    td
                      p {{ it2.name }} {{ it2.last_name }}

                    td
                      p {{ it2.edad}}
                    td
                      p {{ it2.id_card}}
                    td
                      p {{ it2.nro_fijo}}
                    td
                      p {{ it2.nro_movil}}
                    td
                      p {{ it2.email}}

                    //- td
                    //-   p {{ it2.rol.alias}}
                    td
                      p {{ it2.createdAt[1] }} {{ it2.createdAt[2] }}
                    td
                      p {{ it2.last_session[1] }} {{ it2.last_session[2] }}
                    td
                      .badge.badge-success {{ it2.status }}
                    td
                      a.btn.btn-primary([routerLink]="['/dashboard/usuario', it2._id ]", routerLinkActive="active") Detalles


        app-paginator(*ngIf="( this.paginator != null ) && ( this.paginator.pageCount > 1 )", [paginator]="this.paginator", (newPageResponse)="this.newPageResponse($event)")


  //-  "Foto",
  //-   "Nombre",
  //-   "Apellido",
  //-   "Edad",
  //-   "Cédula",
  //-   "Telf fijo",
  //-   "Telf celular",
  //-   "País",
  //-   "Estado/departamento",
  //-   "Ciudad",
  //-   "Rol",
  //-   "Creado en",
  //-   "Ult. Sesión",
  //-   "Status"
//- last_session": [
//-                 "miércoles",
//-                 "14 de octubre de 2020",
//-                 "1:01 AM"
//-             ],
//-             "updatedAt": [
//-                 "miércoles",
//-                 "14 de octubre de 2020",
//-                 "12:23 PM"
//-             ],
//-             "createdAt": [
//-                 "miércoles",
//-                 "14 de octubre de 2020",
//-                 "1:01 AM"
//-             ],
//-             "rol": {
//-                 "alias": "Administrador",
//-                 "_id": "5f8594252675cb18ec300163"
//-             },
//-             "status": "ACTIVE",
//-             "photo": null,
//-             "edad": 22,
//-             "nro_fijo": "dsfadf",
//-             "nro_movil": "adfadsf",
//-             "dir_domicilio": "asfafasdasdsadsadsdasd",
//-             "ciudad": "34sdf",
//-             "estado": "1234",
//-             "pais": "Colombia",
//-             "id_card": "12345",
//-             "last_name": "Seg",
//-             "name": "alvarooooo",
//-             "deleted": false,
//-             "_id": "5f86783c7e86161af01ffca5",
//-             "email": "alvarosego01@gmail.com",
//-             "pass": "$2a$15$.spA0.Z80p4ClhTxGMKkYehISdj398CaJAcZglSBhu74hBcUUQzLG",
//-             "__v": 0 -->


<section class="section">
    <div class="section-header">
        <h1>Control de mis cobradores</h1>
    </div>
    <div class="section-body">
        <h2 class="section-title">Listado de cobradores referenciados a tu cuenta<span *ngIf="this.paginator && this.paginator.itemCount &gt; 0">- {{ this.paginator.itemCount }}</span></h2>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4></h4>
                        <div class="card-header-form">
                            <form class="needs-validation" #f="ngForm" (ngSubmit)="this.searchUser( f )">
                                <div class="input-group"><input class="form-control" required="required" ngModel="ngModel" type="text" name="arg" placeholder="Busqueda" />
                                    <div class="input-group-btn"><button class="noBorder btn btn-primary" type="submit" style="border-radius: 0!important"><i class="fas fa-search"></i></button><button class="btn btn-primary" type="button" (click)="this.getAll(1)">Todos</button></div>
                                    <div class="invalid-feedback">Por favor, escribe un argumento de búsqueda</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let item of this.headers">{{ item }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let it2 of this.registros">
                                <td>
                                    <div class="avatarUser"><img class="rounded-circle" alt="image" src="assets/img/avatar/avatar-2.png" width="50" data-toggle="tooltip" data-placement="right" title="" data-original-title="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                        />
                                        <div class="role"></div>
                                    </div>
                                </td>
                                <td>
                                    <p>{{ it2.name }} {{ it2.last_name }}</p>
                                </td>
                                <!-- <td>
                                    <p>{{ it2.edad}}</p>
                                </td>
                                <td>
                                    <p>{{ it2.id_card}}</p>
                                </td>
                                <td>
                                    <p>{{ it2.nro_fijo}}</p>
                                </td> -->
                                <td>
                                    <p>{{ it2.nro_movil}}</p>
                                </td>
                                <td>
                                    <p>{{ it2.email}}</p>
                                </td>
                                <td>
                                    <div class="badge badge-success">{{ it2.status }}</div>
                                </td>
                                <td><a class="btn btn-primary" [routerLink]="['/dashboard/usuario', it2._id ]" routerLinkActive="active">Detalles</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <app-paginator *ngIf="( this.paginator != null ) && ( this.paginator.pageCount &gt; 1 )" [paginator]="this.paginator" (newPageResponse)="this.newPageResponse($event)"></app-paginator>
            </div>
        </div>
    </div>
</section>
