<!-- <section class="section">
    <div class="section-header">
        <h1>Control de Clientes</h1>
    </div>
    <div class="section-body">
        <h2 class="section-title">Listado de clientes en sistema</h2>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4></h4>
                        <div class="card-header-form">
                            <form class="needs-validation">
                                <div class="input-group"><input class="form-control" required="required" ngModel="ngModel" type="text" name="arg" placeholder="Busqueda" />
                                    <div class="input-group-btn"><button class="noBorder btn btn-primary" type="submit" style="border-radius: 0!important"><i class="fas fa-search"></i></button><button class="btn btn-primary" type="button">Todos</button></div>
                                    <div class="invalid-feedback">Por favor, escribe un argumento de búsqueda</div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Header</th>
                                        <th>Header</th>
                                        <th>Header</th>
                                        <th>Header</th>
                                        <th>Header</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td><button class="btn btn-outline-primary"><i class="fas fa-edit"></i></button><button class="btn btn-outline-primary"><i class="fas fa-trash"></i></button><button class="btn btn-outline-primary"><i class="fas fa-plus"></i></button>
                                            <button class="btn btn-outline-primary"><i class="fas fa-eye"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td><button class="btn btn-outline-primary"><i class="fas fa-edit"></i></button><button class="btn btn-outline-primary"><i class="fas fa-trash"></i></button><button class="btn btn-outline-primary"><i class="fas fa-plus"></i></button>
                                            <button class="btn btn-outline-primary"><i class="fas fa-eye"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            <button class="btn btn-outline-primary"><i class="fas fa-edit"></i></button><button class="btn btn-outline-primary"><i class="fas fa-trash"></i></button><button class="btn btn-outline-primary"><i class="fas fa-plus"></i></button>
                                            <button class="btn btn-outline-primary"><i class="fas fa-eye"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td>
                                            Data
                                        </td>
                                        <td><button class="btn btn-outline-primary"><i class="fas fa-edit"></i></button><button class="btn btn-outline-primary"><i class="fas fa-trash"></i></button><button class="btn btn-outline-primary"><i class="fas fa-plus"></i></button>
                                            <button class="btn btn-outline-primary"><i class="fas fa-eye"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<app-main-client></app-main-client>
