section.section
  .container.mt-5
    .row
      .col-12.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-6.offset-lg-3.col-xl-4.offset-xl-4
        .login-brand
          | Proyecto
        .card.card-primary
          .card-header
            h4 Iniciar sesión
          .card-body

            form.needs-validation&attributes({
              '#f': 'ngForm',
              '(ngSubmit)': 'login( f )',
              'novalidate': ''
              })
              .form-group
                label(for='email') Email
                input#email.form-control(ngModel type='email' name='email' tabindex='1' required autofocus='' style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC"); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;' autocomplete='off')
                .invalid-feedback
                  | Por favor, escribe tu email
              .form-group
                .d-block
                  label.control-label(for='pass') Contraseña
                input#pass.form-control(ngModel type='password' name='pass' tabindex='2' required style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC"); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;' autocomplete='off')
                .invalid-feedback
                  | Por favor, escribe tu contraseña

              .form-group
                button.btn.btn-primary.btn-lg.btn-block(type='submit' tabindex='4')
                  | Entrar

        .mt-5.text-muted.text-center
          | ¿No tienes cuenta?
          a&attributes({
            "[routerLink]": "['/register']",
            "routerLinkActive": "active"
          }) Registrate