

@import "~src/generals"





.hideButton
    display: none!important

.navbar
    right: 0!important
nav
    a.sidebar-gone-show
        @include responsivo(general)
            display: none!important
        @include responsivo(resto)
            display: none!important
    a
        display: flex!important
        align-items: center

ul.navbar-nav
    li.nav-item
        a
            transition: $trans
            color: white
            &:hover
                background-color: white
                color: $primaryApp
    li.nav-item.active
        a
            background-color: white
            color: $primaryApp



.nav-collapse
    ul.navbar-nav.show
        background-color: $primaryApp
        li
            a
                transition: $trans
                color: $primaryApp
                &:hover
                    background-color: $primaryApp
                    color: white
            a.active
                background-color: $primaryApp
                color: white

