
section.modalOptions.section
  .setOptions( *ngIf='this._cliente != null' )
    div.row
      app-hero( [type]="'primary'", [titulo]="'¿Deseas eliminar el registro de cliente? '+this._cliente.name+' '+this._cliente.last_name", [subTitulo]="'¿Estás seguro?'" )
    .row
      .spaceButtons
        button.btn.btn-danger( (click)="deleteUser()" )
          i.fas.fa-check
          | Eliminar cliente
        button.btn.btn-primary( type="button", (click)="this.closeDialog()" )
          i.fas.fa-times
          | Cerrar